In [1]:
l=[1,3,4,5,5]

In [2]:
for i in l:
    print(i)

1
3
4
5
5

In [3]:
next(l)

TypeError: 'list' object is not an iterator

In [4]:
b=iter(l)

In [5]:
next(b)

1

In [6]:
next(b)

3

In [7]:
next(b)

4

In [8]:
next(b)

5

In [9]:
next(b)

5

In [10]:
next(b)

StopIteration:

In [11]:
next(45)

TypeError: 'int' object is not an iterator

In [12]:
iter(45)

TypeError: 'int' object is not iterable

In [14]:
for i in 45456:
    print(i)

TypeError: 'int' object is not iterable

In [15]:
l

[1, 3, 4, 5, 5]

In [16]:
for i in l:
    print(i)

1
3
4
5
5

In [17]:
s="sudh"

In [18]:
next(s)

TypeError: 'str' object is not an iterator

In [19]:
s=iter(s)

In [20]:
next(s)

's'

In [21]:
next(s)

'u'

In [22]:
next(s)

'd'

In [23]:
next(s)

'h'

In [24]:
next(s)

StopIteration:

In [27]:
s="sudh"
for i in s:
    print(i)

s
u
d
h

In [28]:
t=(5,6,7,8,8)

In [29]:
next(t)

TypeError: 'tuple' object is not an iterator

In [30]:
t=iter(t)

In [31]:
next(t)

5

In [32]:
next(t)

6

In [33]:
next(t)

7

In [34]:
next(t)

8

In [35]:
next(t)

8

In [36]:
next(t)

StopIteration:

In [38]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
def square_fun(n):
    x=[i*i for i in range(n)]
    return x

In [40]:
square_fun(4)

[0, 1, 4, 9]

In [41]:
list(range(4))

[0, 1, 2, 3]

In [43]:
def square_fun1(n):
    x=[i*i for i in range(n)]
    yield x

In [44]:
square_fun1(4)

In [45]:
range(5)

range(0, 5)

In [46]:
for i in square_fun1(4):
    print(i)

[0, 1, 4, 9]

In [47]:
for i in range(4):
    print(i)

0
1
2
3

In [48]:
next(square_fun1(4))

[0, 1, 4, 9]

In [49]:
next(square_fun1(5))

[0, 1, 4, 9, 16]

In [50]:
next(range(4))

TypeError: 'range' object is not an iterator

In [51]:
r=iter(range(4))

In [52]:
next(r)

0

In [53]:
next(r)

1

In [54]:
next(r)

2

In [55]:
next(r)

3

In [56]:
next(r)

StopIteration:

In [7]:
def genfib(n):
    a=1
    b=1
    l=[]
    for i in range(n):
        l.append(a)
        a,b=b,a+b
    return l

In [8]:
genfib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [9]:
def genfib(n):
    a=1
    b=1
    l=[]
    for i in range(n):
        yield a
        a,b=b,a+b

In [10]:
genfib(10)

In [11]:
for i in genfib(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [12]:
f=open("sudh3.txt","w")

In [13]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 3459-824F

 Directory of C:\Users\dell

15-11-2022  17:41    <DIR>          .
15-11-2022  17:41    <DIR>          ..
08-08-2020  21:38             2,465 .bash_history
22-10-2022  10:21    <DIR>          .conda
05-10-2022  08:45                25 .condarc
05-10-2022  08:44    <DIR>          .continuum
23-10-2022  20:14    <DIR>          .cufflinks
11-07-2022  06:57    <DIR>          .idlerc
15-11-2022  15:17    <DIR>          .ipynb_checkpoints
14-08-2022  09:59    <DIR>          .ipython
14-08-2022  11:07    <DIR>          .jupyter
07-09-2022  21:02    <DIR>          .matplotlib
29-08-2022  07:17    <DIR>          .vscode
06-11-2022  16:20           821,316 18.1.1 data visualization Introduction.ipynb
23-03-2021  12:37    <DIR>          3D Objects
07-10-2020  21:04        33,891,416 Agga Bai Sasubai Oct 7, 2020 Full Episode - Online in HD ZEE5.mp4
22-10-2022  10:33    <DIR>          anaconda3
23-10-2022  19:36    <DIR>          api_project
19-10-2022  12:04            47,298 Attribute DataSet.xlsx
23-03-2021  12:37    <DIR>          Contacts
14-11-2022  20:34    <DIR>          Desktop
23-10-2022  10:51    <DIR>          Documents
15-11-2022  17:11    <DIR>          Downloads
06-12-2020  11:27             9,273 Excel sheet teaching.xlsx
23-03-2021  12:37    <DIR>          Favorites
07-11-2022  16:13       182,443,835 iterator , generator , map , reduce , filter , basic file operation .ipynb
23-03-2021  12:37    <DIR>          Links
18-10-2022  14:49    <DIR>          mangotest
07-10-2020  21:08        30,261,479 Mazhya Navryachi Bayko Oct 7, 2020 Full Episode - Online in HD ZEE5.mp4
23-03-2021  12:37    <DIR>          Music
21-10-2022  21:11            42,423 numpy1.ipynb
30-11-2021  09:06    <DIR>          OneDrive
19-10-2022  19:06            90,374 pandas1.py.ipynb
20-10-2022  17:54           406,974 pandas2.ipynb
21-10-2022  15:36           129,771 pandas3.ipynb
26-03-2021  19:21    <DIR>          Pictures
01-08-2022  20:51    <DIR>          PycharmProjects
06-10-2022  21:02             8,628 python1.ipynb
12-10-2022  13:14            17,013 python10(exception handling).ipynb
10-10-2022  20:11            38,166 python2.ipynb
10-10-2022  21:16            63,356 python3.ipynb
10-11-2022  12:07            15,932 python4.ipynb
08-10-2022  16:25           328,162 python6.ipynb
08-10-2022  21:04            21,633 python7(function).ipynb
10-10-2022  12:08       148,719,572 python8(iterator).ipynb
10-10-2022  18:53            34,316 python9(itarable).ipynb
08-11-2022  12:14            16,276 Rpython1(variable).ipynb
13-11-2022  16:57            36,066 Rpython10(exception handling).ipynb
13-11-2022  18:26            13,763 Rpython11(Exception handling revision).ipynb
09-11-2022  13:01            54,208 Rpython2basic.ipynb
09-11-2022  19:15            68,160 Rpython3(list,tuple,dict,set).ipynb
10-11-2022  12:06            16,926 Rpython4(if,elif,else).ipynb
10-11-2022  22:37            16,498 Rpython5(for loop).ipynb
12-11-2022  16:37            29,429 Rpython6(while loop & basic function).ipynb
12-11-2022  18:27            24,087 Rpython7(function).ipynb
23-03-2021  12:37    <DIR>          Saved Games
22-10-2022  16:48    <DIR>          seaborn-data
23-03-2021  12:37    <DIR>          Searches
10-10-2022  15:40                36 sudh1.txt
15-11-2022  17:39                67 sudh2.txt
15-11-2022  17:41                 0 sudh3.txt
10-10-2022  15:53                21 test.sudh
10-10-2022  17:00                33 test.txt
10-10-2022  15:46                55 test1.txt
19-10-2022  17:23            94,421 test123.json
10-10-2022  15:57               448 test5.txt
10-10-2022  17:02                78 test8.txt
15-10-2022  10:33    <DIR>          testProject
10-10-2022  15:50                28 text2.txt
02-11-2022  12:45            56,502 Transformation.ipynb
07-10-2022  11:14             3,213 Untitled.ipynb
14-08-2022  10:53             2,627 Untitled1.ipynb
12-10-2022  18:09             8,444 Untitled10.ipynb
19-10-2022  12:04             9,372 Untitled11.ipynb
22-10-2022  09:09             2,613 Untitled12.ipynb
22-10-2022  09:25             3,662 Untitled13.ipynb
22-10-2022  10:08             7,743 Untitled14.ipynb
22-10-2022  10:25             1,681 Untitled15.ipynb
22-10-2022  11:15             5,953 Untitled16.ipynb
23-10-2022  20:15             7,669 Untitled17.ipynb
22-10-2022  21:17         1,239,147 Untitled18.ipynb
10-11-2022  22:29            22,365 Untitled19.ipynb
14-08-2022  11:04             1,492 Untitled2.ipynb
12-11-2022  18:25            24,087 Untitled20.ipynb
13-11-2022  18:25            13,763 Untitled21.ipynb
15-11-2022  17:39            36,916 Untitled22.ipynb
14-08-2022  11:37             2,770 Untitled3.ipynb
14-08-2022  11:42             2,027 Untitled4.ipynb
14-08-2022  11:44             3,224 Untitled5.ipynb
14-08-2022  13:23             6,293 Untitled6.ipynb
06-10-2022  21:02               589 Untitled7.ipynb
05-10-2022  09:30                72 Untitled8.ipynb
07-10-2022  15:47               589 Untitled9.ipynb
23-03-2021  12:37    <DIR>          Videos
07-11-2022  16:11            51,822 while loop and basic of function .ipynb
              65 File(s)    399,278,662 bytes
              30 Dir(s)  118,159,560,704 bytes free

In [14]:
f.write("this is my very first file operation")

36

In [15]:
f.close()

In [16]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 3459-824F

 Directory of C:\Users\dell

15-11-2022  17:41    <DIR>          .
15-11-2022  17:41    <DIR>          ..
08-08-2020  21:38             2,465 .bash_history
22-10-2022  10:21    <DIR>          .conda
05-10-2022  08:45                25 .condarc
05-10-2022  08:44    <DIR>          .continuum
23-10-2022  20:14    <DIR>          .cufflinks
11-07-2022  06:57    <DIR>          .idlerc
15-11-2022  15:17    <DIR>          .ipynb_checkpoints
14-08-2022  09:59    <DIR>          .ipython
14-08-2022  11:07    <DIR>          .jupyter
07-09-2022  21:02    <DIR>          .matplotlib
29-08-2022  07:17    <DIR>          .vscode
06-11-2022  16:20           821,316 18.1.1 data visualization Introduction.ipynb
23-03-2021  12:37    <DIR>          3D Objects
07-10-2020  21:04        33,891,416 Agga Bai Sasubai Oct 7, 2020 Full Episode - Online in HD ZEE5.mp4
22-10-2022  10:33    <DIR>          anaconda3
23-10-2022  19:36    <DIR>          api_project
19-10-2022  12:04            47,298 Attribute DataSet.xlsx
23-03-2021  12:37    <DIR>          Contacts
14-11-2022  20:34    <DIR>          Desktop
23-10-2022  10:51    <DIR>          Documents
15-11-2022  17:11    <DIR>          Downloads
06-12-2020  11:27             9,273 Excel sheet teaching.xlsx
23-03-2021  12:37    <DIR>          Favorites
07-11-2022  16:13       182,443,835 iterator , generator , map , reduce , filter , basic file operation .ipynb
23-03-2021  12:37    <DIR>          Links
18-10-2022  14:49    <DIR>          mangotest
07-10-2020  21:08        30,261,479 Mazhya Navryachi Bayko Oct 7, 2020 Full Episode - Online in HD ZEE5.mp4
23-03-2021  12:37    <DIR>          Music
21-10-2022  21:11            42,423 numpy1.ipynb
30-11-2021  09:06    <DIR>          OneDrive
19-10-2022  19:06            90,374 pandas1.py.ipynb
20-10-2022  17:54           406,974 pandas2.ipynb
21-10-2022  15:36           129,771 pandas3.ipynb
26-03-2021  19:21    <DIR>          Pictures
01-08-2022  20:51    <DIR>          PycharmProjects
06-10-2022  21:02             8,628 python1.ipynb
12-10-2022  13:14            17,013 python10(exception handling).ipynb
10-10-2022  20:11            38,166 python2.ipynb
10-10-2022  21:16            63,356 python3.ipynb
10-11-2022  12:07            15,932 python4.ipynb
08-10-2022  16:25           328,162 python6.ipynb
08-10-2022  21:04            21,633 python7(function).ipynb
10-10-2022  12:08       148,719,572 python8(iterator).ipynb
10-10-2022  18:53            34,316 python9(itarable).ipynb
08-11-2022  12:14            16,276 Rpython1(variable).ipynb
13-11-2022  16:57            36,066 Rpython10(exception handling).ipynb
13-11-2022  18:26            13,763 Rpython11(Exception handling revision).ipynb
09-11-2022  13:01            54,208 Rpython2basic.ipynb
09-11-2022  19:15            68,160 Rpython3(list,tuple,dict,set).ipynb
10-11-2022  12:06            16,926 Rpython4(if,elif,else).ipynb
10-11-2022  22:37            16,498 Rpython5(for loop).ipynb
12-11-2022  16:37            29,429 Rpython6(while loop & basic function).ipynb
12-11-2022  18:27            24,087 Rpython7(function).ipynb
23-03-2021  12:37    <DIR>          Saved Games
22-10-2022  16:48    <DIR>          seaborn-data
23-03-2021  12:37    <DIR>          Searches
10-10-2022  15:40                36 sudh1.txt
15-11-2022  17:39                67 sudh2.txt
15-11-2022  17:41                36 sudh3.txt
10-10-2022  15:53                21 test.sudh
10-10-2022  17:00                33 test.txt
10-10-2022  15:46                55 test1.txt
19-10-2022  17:23            94,421 test123.json
10-10-2022  15:57               448 test5.txt
10-10-2022  17:02                78 test8.txt
15-10-2022  10:33    <DIR>          testProject
10-10-2022  15:50                28 text2.txt
02-11-2022  12:45            56,502 Transformation.ipynb
07-10-2022  11:14             3,213 Untitled.ipynb
14-08-2022  10:53             2,627 Untitled1.ipynb
12-10-2022  18:09             8,444 Untitled10.ipynb
19-10-2022  12:04             9,372 Untitled11.ipynb
22-10-2022  09:09             2,613 Untitled12.ipynb
22-10-2022  09:25             3,662 Untitled13.ipynb
22-10-2022  10:08             7,743 Untitled14.ipynb
22-10-2022  10:25             1,681 Untitled15.ipynb
22-10-2022  11:15             5,953 Untitled16.ipynb
23-10-2022  20:15             7,669 Untitled17.ipynb
22-10-2022  21:17         1,239,147 Untitled18.ipynb
10-11-2022  22:29            22,365 Untitled19.ipynb
14-08-2022  11:04             1,492 Untitled2.ipynb
12-11-2022  18:25            24,087 Untitled20.ipynb
13-11-2022  18:25            13,763 Untitled21.ipynb
15-11-2022  17:39            36,916 Untitled22.ipynb
14-08-2022  11:37             2,770 Untitled3.ipynb
14-08-2022  11:42             2,027 Untitled4.ipynb
14-08-2022  11:44             3,224 Untitled5.ipynb
14-08-2022  13:23             6,293 Untitled6.ipynb
06-10-2022  21:02               589 Untitled7.ipynb
05-10-2022  09:30                72 Untitled8.ipynb
07-10-2022  15:47               589 Untitled9.ipynb
23-03-2021  12:37    <DIR>          Videos
07-11-2022  16:11            51,822 while loop and basic of function .ipynb
              65 File(s)    399,278,698 bytes
              30 Dir(s)  118,159,364,096 bytes free

In [17]:
f1=open("chetan1.txt","w")

In [18]:
f1.write("this is file oparation i am try to do in my fsds class")

54

In [19]:
f1.close()

In [20]:
l=[1,2,3,45,6,7,8,9]

In [21]:
f2=open("chetan2.txt","w")

In [22]:
f2.write(l)

TypeError: write() argument must be str, not list

In [24]:
f2.write(str(l))

25

In [25]:
f2.close()

In [27]:
f3=open("chetan3.txt","w")
f3.write("ghsfsnbjsg hgsfssj hfsgsfhgd khsgs")
f3.close()

In [30]:
%%writefile chetan4.txt
this is my python program to write into afile in different way
this is my python program to write into afile in different way
this is my python program to write into afile in different way
this is my python program to write into afile in different way
this is my python program to write into afile in different way

Overwriting chetan4.txt

In [31]:
f=open("chetan4.txt")

In [32]:
f.read()

'this is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\n'

In [33]:
f.read()

''

In [34]:
f.read()

''

In [35]:
f.seek(0)

0

In [36]:
f.read()

'this is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\n'

In [37]:
f.read()

''

In [38]:
f.seek(0)

0

In [39]:
f.read()

'this is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\n'

In [40]:
f.seek(4)

4

In [41]:
f.read()

' is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\n'

In [42]:
f.seek(50)

50

In [43]:
f.read()

'ifferent way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\n'

In [44]:
f=open("chetan4.txt")

In [46]:
f.tell()

0

In [48]:
f.read()

'this is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\n'

In [49]:
f.tell()

320

In [50]:
f.seek(5)

5

In [51]:
f.tell()

5

In [52]:
f.read()

'is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\n'

In [53]:
f.seek(10)

10

In [54]:
f.read(15)

' python program'

In [55]:
f=open("chetan4.txt")

In [56]:
f.read()

'this is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\nthis is my python program to write into afile in different way\n'

In [60]:
f.seek(0)

0

In [61]:
f.readline()

'this is my python program to write into afile in different way\n'

In [62]:
f.readlines()

['this is my python program to write into afile in different way\n',
 'this is my python program to write into afile in different way\n',
 'this is my python program to write into afile in different way\n',
 'this is my python program to write into afile in different way\n']

In [63]:
f

In [64]:
f.fileno()

4

In [90]:
f=open("chetan5.txt","w")

In [91]:
f.write("""this is my python program to write into afile in different""")

58

In [ ]:
f.close()

In [92]:
f.write("fsdhshv gfsgshds gasfxgsg")

25

In [93]:
f.close()

In [101]:
f=open("chetan6.txt","w")

In [102]:
f.write("gfshs gsfsggd fshsg")

19

In [103]:
f.close()

In [104]:
f=open("chetan6.txt","a")

In [105]:
f.write("this is my new dataset")

22

In [106]:
f.close()

In [107]:
f.name

'chetan6.txt'

In [108]:
f.mode

'a'

# map,reduce, filter

In [110]:
l=[2,3,4,5,5,6]
l1=[]
for i in l:
    l1.append(i**2)

In [111]:
l1

[4, 9, 16, 25, 25, 36]

In [112]:
def sq(n):
    return n**2

In [113]:
list(map(sq,l))

[4, 9, 16, 25, 25, 36]

In [114]:
list(map(lambda x: x**2,l))

[4, 9, 16, 25, 25, 36]

In [115]:
l

[2, 3, 4, 5, 5, 6]

In [116]:
list(map(lambda x:str(x),l))

['2', '3', '4', '5', '5', '6']

In [117]:
def str_c(n):
    return str(n)

In [118]:
list(map(str_c,l))

['2', '3', '4', '5', '5', '6']

In [119]:
list(map(str,l))

['2', '3', '4', '5', '5', '6']

In [125]:
from functools import reduce

In [126]:
l=[3,4,5,6,7,8,9]

In [127]:
sum(l)

42

In [130]:
reduce(lambda a,b: a*b,l)

181440

In [131]:
l=[1,2,3,4,45,5]

In [133]:
list(filter(lambda x: x%2==0 ,l))

[2, 4]

In [134]:
def check_even(n):
    if n%2==0:
        return True

In [135]:
list(filter(check_even,l))

[2, 4]