# for loop class

In [1]:
l=[1,2,3,4,"sudh",'kumar',45.56]

In [3]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [4]:
for i in l:
    pass

In [5]:
s='sudh'
for i in s:
    print(i)

s
u
d
h

In [6]:
for i in l:
    print(i)
else:
    print("if for loop is going to complete it self the it will excute else")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete it self the it will excute else

In [11]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [13]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print("this will execute only if for is going to complete itself")

1
2
3

In [14]:
s="sudhanshu"
for i in s:
    if i=='n':
        break
    print(i)
else:
    print('print string',s)

s
u
d
h
a

In [15]:
s="sudhanshu"
for i in s:
    if i=='z':
        break
    print(i)
else:
    print('print string',s)

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [17]:
t=(4,5,6,7,8,6,"sudh")
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [18]:
b={4,5,6,7,7,7,7,7,7,7,7,8,"sudh"}

In [20]:
type(b)

set

In [21]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [23]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [24]:
d={'key1':'sudh','contact':'sudhanshu@ineuron.ai','position':"xyz"}

In [26]:
for i in d:
    print(i,d[i])

key1 sudh
contact sudhanshu@ineuron.ai
position xyz

In [27]:
range(9)

range(0, 9)

In [28]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [35]:
n=4
for i in range(4):
    for j in range (0,i+1):
        print("sudh",end="  ")
    print('\n')

sudh

sudh  sudh

sudh  sudh  sudh

sudh  sudh  sudh  sudh

In [50]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" "*len('sudh'),end=" ")
    for j in range(i+1):
        print('sudh',end=" ")
    for j in range(i):
        print('sudh',end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [53]:
t=(3,23,45,67,2,4,5,6)
l=len(t)
for a in range(l):
    print(a,t[a])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [55]:
s='ineuron'
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [56]:
s='ineuron'
t=len(s)
for i in range(t-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [58]:
s='ineuron'

for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [59]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [61]:
d.items()

dict_items([('key1', 'sudh'), ('contact', 'sudhanshu@ineuron.ai'), ('position', 'xyz')])

In [63]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [66]:
l=["sudh",'kumar',3234545,"sudhanshu@ineuron.ai",345,345465]
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [67]:
l1

[3234545, 345, 345465]

In [68]:
d={1:33456,'name':"sudh","email-id":"sudhanshu@ineuron.ai",234:'gfdghshsg',43:"gshdh",234:"235"}

In [72]:
for i in d:
    if type(i)==int:
       print(i,':',d[i])

1 : 33456
234 : 235
43 : gshdh

In [73]:
s="aaaabbccd"
set(s)

{'a', 'b', 'c', 'd'}

In [75]:
for i in set(s):
    print(i,":",s.count(i))

b : 2
c : 2
a : 4
d : 1

In [76]:
s.count('a')

4

In [79]:
i=345678945612
for j in str(i):
    print(j,type(j))

3 <class 'str'>
4 <class 'str'>
5 <class 'str'>
6 <class 'str'>
7 <class 'str'>
8 <class 'str'>
9 <class 'str'>
4 <class 'str'>
5 <class 'str'>
6 <class 'str'>
1 <class 'str'>
2 <class 'str'>

In [84]:
i=345678945612
for j in str(i):
    print(int(j),type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
1 <class 'int'>
2 <class 'int'>

In [88]:
t=("sudh","kumar",[1,2,3,4,5],(3,4,5,6),{"key1":"sudh","key2":"kumar",3:"2546"})

In [89]:
for i in t:
    if type(i)==list or type(i)==tuple or type(i)==dict:
        for j in i:
            if j==3:
                print(j)

3
3
3

In [92]:
t=("sudh","kumar",[1,2,3,4,5],(3,4,5,6),{"key1":"sudh","key2":"kumar",3:"3"})
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k==3 or v==3:
                print(k)
                print(v)

3
3
3
3