In [1]:
a=10
if a==11:
    print("this is my first condition")

In [3]:
a=10
if a>5:
    pass

In [4]:
a=10
if a==11:
    print("my condition is false")
else:
    print("print this")

print this

In [5]:
a=10
if a==12:
    print("here we are trying to compare 10 with 12")
elif a==10:
    print("we are trying to compare 10 with 11 ")
else:
    print("if all the blocks will fail then do this")

we are trying to compare 10 with 11

In [6]:
price=500
if price>500:
    print("may be i want be able to buy  ajacket")
elif price<500:
    print("i will be able to buy a jacket")
elif price==500:
    print("for sure i will be able to buy")
else :
    print("i dont know")

for sure i will be able to buy

In [7]:
price>500

False

In [8]:
price<500

False

In [9]:
price==500

True

In [12]:
l=[1,2,3,4,5,6]
2in l

True

In [13]:
if 60 in l:
    print("try to perform a task")
else:
    print("do not perform this task")

do not perform this task

In [14]:
60in l

False

In [15]:
l

[1, 2, 3, 4, 5, 6]

In [16]:
if 10 in l:
    print("try to do a addition")
elif 2 in l:
    print("try to do sub")
elif 3 in l:
    print("try to do mul")
if 4 in l:
    print("this is new statement")

try to do sub
this is new statement

In [17]:
a=400

In [18]:
b=int(input())

10

In [19]:
type(b)

int

In [27]:
price=int(input())
if price<500:
    print("i will able to buy something")
    if price>400:
        print("i will be able to buy a jacket")
    elif price<300:
        print("i will be able to buy a shirt")
        if price <200:
            print("i would like to do someting")
    else :
        print("i will be able to buy anything")
else:
    print("i wont be able to buy anything with this price tag")
    if price >500:
        print("lets try something else")

600
i wont be able to buy anything with this price tag
lets try something else

In [32]:
marks=int(input())
if marks <600:
    print("NO GRE")
    if marks <500:
        print("TOFEL")
        if marks <400:
            print("try something else")
    else:
        print("you got tofel")
else:
    print("you got gre congratulation")

700
you got gre congratulation

In [5]:
val=float(input("enter a floting point number"))
if val >=0:
    if val==0:
        print("entered value is zero")
    else:
        print("enter value is apositive number")
else:
    print("entered number is anegative number")

enter a floting point number-1
entered number is anegative number

In [8]:
a=10
if a<10 and a==10:
    print("try to do something")

In [11]:
a="sudh"
if a=="sudh" or a=="Sudh":
    print("this is sudh")

this is sudh

In [14]:
a=10
b=11
c=12
d=13
if a==9 or b==11 and c==12 and d==13:
    print("lets do something")

lets do something

In [15]:
d={"key1":"values",'key2':'sudh','key3':'ineuron'}

In [19]:
if d['key1']=='values' and d['key2']=='sudh'and d['key3']=="ineuron":
        print("all the values are verified")
        print(d.values())
else:
    print("all the values are not verified")

all the values are verified
dict_values(['values', 'sudh', 'ineuron'])

In [20]:
d['key1']

'values'

In [21]:
l=[1,2,3,4,5,"sudh",234.45]

In [22]:
l[0]

1

In [23]:
l[1]

2

In [24]:
l[2:5]

[3, 4, 5]

In [25]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [26]:
for i in l:
    print(i)

1
2
3
4
5
sudh
234.45

In [28]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i+str(i))

2
3
4
5
6
sudhsudh
235.45

In [31]:
a=[9,8,7,6,5,4,3,2,10]
for i in a:
    print(i,end=" ")

9 8 7 6 5 4 3 2 10

In [32]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [39]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)
print(l1)

[1, 2, 3, 4, 5]

In [34]:
l1

[1, 2, 3, 4, 5]

In [40]:
for a in l:
    if type(a)==int:
        print(a+1)
    elif type(a)==str:
        print(a+str(1))
    elif type(a)==float:
        print(a+float(1))

2
3
4
5
6
sudh1
235.45

In [41]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [45]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
6
sudh1
235.45

In [47]:
l=[1,2,3,4,5,"car",5,6,7]
for i in l:
    if i.isnumeric():
        print(i)

AttributeError: 'int' object has no attribute 'isnumeric'